<!-- login.component.html -->
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h3 class="text-center">Login</h3>
        </div>
        <div class="card-body">
          <form
            [formGroup]="loginForm"
            (ngSubmit)="onSubmit()"
            class="needs-validation"
            novalidate
          >
            <div class="mb-3">
              <label for="username" class="form-label">Username:</label>
              <input
                type="text"
                id="username"
                formControlName="username"
                class="form-control"
                required
              />
              <div class="invalid-feedback">Please enter your username.</div>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password:</label>
              <input
                type="password"
                id="password"
                formControlName="password"
                class="form-control"
                required
              />
              <div class="invalid-feedback">Please enter your password.</div>
            </div>
            <button
              type="submit"
              class="btn btn-primary"
              [disabled]="loginForm.invalid"
            >
              Login
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
